.header {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 40pt;
    background-color: maroon;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: maroon;
  color: white;
  text-align: center;
}

body {
    background-color: white;
}

a {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}

.gallery-image {
    width: 80px;
}